/* Font faces */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../../fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../../../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../../fonts/Open_Sans/OpenSans-Light.ttf');
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
}
