#vrmode {
  text-align: left;
}
//the landing page with the parlax background
#landing {
  .wrap {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .bg {
    background: url('../../../media/images/background.jpeg') no-repeat center center; //the backgrount image
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.1);
    width: 100%;
    z-index: -1;
  }

  .card {
    backdrop-filter: blur(10px);
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .85);
    border-radius: 2px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .05);
    box-sizing: border-box;
    display: block;
    margin: auto;
    max-width: 40em;
    padding: 3em;
    text-align: center;
    width: 100%;
    z-index: 4;

    .buttons {
      margin: 1em;
    }

    h1 {
      color: #000;
      margin: 0 0 1em;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: #000;
      margin: 0 auto;
      max-width: 20em;
      text-align: center;
    }
  }
}

#landingheader {
  text-align: center;
}

#landgingVR {
  text-align: left;
}
