.loading {
  display: block;
  height: 2em;
}

.cssload-container {
  display: block;
  margin: 0.6em auto;
  width: 97px;
}

.cssload-loading {
  width: 29px;
  height: 29px;
}
/*source http://cssload.net/en/3d-loaders*/
.cssload-loading i {
  width: 29px;
  height: 29px;
  display: inline-block;
  background: RGB(255, 255, 255);
  border-radius: 50%;
  position: absolute;
}

.cssload-loading i:nth-child(1) {
  transform: translate(-49px, 0);
  -o-transform: translate(-49px, 0);
  -ms-transform: translate(-49px, 0);
  -webkit-transform: translate(-49px, 0);
  -moz-transform: translate(-49px, 0);
  animation: cssload-loading-ani1 1.15s linear infinite;
  -o-animation: cssload-loading-ani1 1.15s linear infinite;
  -ms-animation: cssload-loading-ani1 1.15s linear infinite;
  -webkit-animation: cssload-loading-ani1 1.15s linear infinite;
  -moz-animation: cssload-loading-ani1 1.15s linear infinite;
}

.cssload-loading i:nth-child(2) {
  background: #78C278;
  transform: translate(49px, 0);
  -o-transform: translate(49px, 0);
  -ms-transform: translate(49px, 0);
  -webkit-transform: translate(49px, 0);
  -moz-transform: translate(49px, 0);
  animation: cssload-loading-ani2 1.15s linear infinite;
  -o-animation: cssload-loading-ani2 1.15s linear infinite;
  -ms-animation: cssload-loading-ani2 1.15s linear infinite;
  -webkit-animation: cssload-loading-ani2 1.15s linear infinite;
  -moz-animation: cssload-loading-ani2 1.15s linear infinite;
}
@keyframes cssload-loading-ani1 {
  25% {
    z-index: 2;
  }

  50% {
    transform: translate(49px, 0) scale(1);
  }

  75% {
    transform: translate(0, 0) scale(0.75);
  }

  100% {
    transform: translate(-49px, 0) scale(1);
  }
}
@keyframes cssload-loading-ani2 {
  25% {
    transform: translate(0, 0) scale(0.75);
  }

  50% {
    transform: translate(-49px, 0) scale(1);
  }

  75% {
    z-index: 2;
  }

  100% {
    transform: translate(49px, 0) scale(1);
  }
}
