html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, span, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
.disabled{
  display: none;
}

/* Font faces */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.ttf');
}



h1, h2, h3, h4, h5, h6, p, span, ul, li{
	font-family:'Montserrat-Regular', sans-serif;
}
.video-wrapper{
	width: 50%;
	position: relative;
}

.thumbnail{
	max-width: none;
    width: 100%;
    display: block;
}

.media-caption{
    color: #F5F5F5;
    margin: 0;
    border: 0px none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 11.25em 0 1em;
    font-size: .888889em;
    line-height: 1.625em;
    background: rgba(0,0,0,0.6);
    background: -webkit-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,0.7) 100%);
    background: -moz-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,0.7) 100%);
    background: -o-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,0.7) 100%);
    background: linear-gradient(to bottom, rgba(33,33,33,0) 0%,rgba(33,33,33,0.7) 100%);
}

.video-play {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    transition: all 0.3s ease;
}

.video-play:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.video-play:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.caption-content{
	margin-left: 1em;
	margin-right: 1em;
}

video{
	width: 100%;
}